<div>
  <h2>Sign in</h2>
  <%= form_with url: session_url, class: "contents" do |form| %>
    <div class="grid">
      <div>
        <label for="email_address">Email</label>
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address]%>
      </div>

      <div>
        <label for="password">Password</label>
        <%= form.password_field :password, required: true, autocomplete: "off", placeholder: "Enter your password", maxlength: 72 %>
      </div>
    </div>
    <%= form.submit "Sign in" %>

    <div>
      <%# link_to "Forgot password?", new_password_path, class: "text-gray-700 underline" %>
    </div>
  <% end %>
</div>
