<section class="bg-gray-50">
  <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
    <div class="mx-auto max-w-xl text-center prose md:prose-lg lg:prose-xl">
      <h1>
        Fantastic Memory
      </h1>

      <p>
        The simple way to track you Final Fantasy V playthroughs.
      </p>

      <div class="mt-8 flex flex-wrap justify-center gap-4">
        <%= link_to("Sign In", new_session_path, class:"block w-full rounded-sm bg-blue-600 px-12 py-3 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:ring-3 focus:outline-hidden sm:w-auto") %>
      </div>
    </div>
  </div>
</section>
