<% if notice.present? %>
  <div role="alert" class="rounded border-s-4 border-green-500 bg-green-50 p-4">
    <div class="flex items-start gap-4">
      <p class="mt-2 text-sm text-green-700">
        <%= notice %>
      </p>
      <button class="text-gray-500 transition hover:text-gray-600">
        <span class="sr-only">Dismiss popup</span>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  </div>
<% end %>

<% if alert.present? %>
  <div role="alert" class="rounded border-s-4 border-red-500 bg-red-50 p-4 ">
    <div class="flex items-start gap-4">
      <p class="mt-2 text-sm text-red-700">
        <%= alert %>
      </p>
      <button class="text-gray-500 transition hover:text-gray-600">
        <span class="sr-only">Dismiss popup</span>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  </div>
<% end %>
